body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.course-section{
  margin: 10px auto;
  padding: 5px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  width: 90%;
}
.course-section h3{
  border-bottom: 2px solid #09ceff;
  color: #09ceff;
}

a {  
  text-decoration: none;
  color:#ff9100;
  transition: 1s;
}
a:hover {  
  text-decoration: none;
  color:#e5ff00;
  transition: 0.5s;
}

pre {
  background-color: #1b1b1b;
  font-size: 16px;
  margin: 20px auto;
  text-align: left;
  max-width: 60%;
  padding: 10px;
  border-radius: 5px;
}