.github-profile {
	margin: 1rem auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    max-width: 400px;
}
.info {
display: inline-block;
margin-left: 12px;
}		
.name {
    font-size: 1.25rem;
    font-weight: bold;
}

.placeholder-img {  
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: contain;
    align-self: center;
  }
